

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
	background-image: url("../img/monster.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 600px;
}













