

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { 
  padding-top: 70px;
  background-image: url("../img/battle.jpg");
  background-size: 100%;
  background-position: center;
  color: white;
}

#firebaseui-auth-container {
  margin: 0 auto;
}

.player-card {
	height: 400px;
  border: solid 1px;
  border-radius: 11px;
  text-align: center;
  background-color: #f5f5f5;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#first-player {
  background-image: url("../img/pokemon_1.png");
}

#second-player {
  background-image: url("../img/pokemon_2.png");
}

#third-player {
  background-image: url("../img/pokemon_3.png");
}

#fourth-player {
  background-image: url("../img/pokemon_4.png");
}













