

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { 
  padding-top: 70px;
  background-image: url("../img/monster.jpeg");
  background-size: 100%;
  background-position: center;
  color: white;
}

#firebaseui-auth-container {
  margin: 0 auto;
}

.player-card {
	height: 400px;
  border: solid 1px;
  border-radius: 11px;
  text-align: center;
  background-color: #f5f5f5;
}

.player-card:nth-child(1) {
  background-image: url("../img/pokemon_1.png");
}













