

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
	background-image: url("../img/monster.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
}

#firebaseui-auth-container {
    margin: 0 auto;
    position: relative;
    top: 11em;
}

.player-card {
	height: 200px;
    border: solid 1px;
    border-radius: 11px;
    text-align: center;
}













